---
const {platform, username} = Astro.props;
---

<style>
  a {
    padding: 0.3rem 0.3rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
